
  body {
    background-color: white;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 14px;
    margin: 2em;
    padding: 0;
    text-align: center;
  }

  header, footer {
    background-color: rgb(25, 120, 198);
  }

  footer {
    border-radius: 10px;
    color: white;
    padding: 1em;
  }

  header {
    display: grid;
    grid-template-columns: 30% 40%;
    grid-template-rows: 6em;
    padding: 1em;
    align-self: center;
    border-radius: 10px;
    color: white;
  }

  header img {
    grid-column: 1/2;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
    margin: auto;
  }

  header h1 {
    grid-column: 2/3;
    align-self: center;
  }

  .box-shadow {
    box-shadow: 10px 10px 10px 2px grey;
  }

  .text-shadow {
    text-shadow: 5px 5px 10px black;
  }

  li {
    padding: 5px;
    width: 8em;
    display: flex;
    width: auto;
  }

  li a {
    padding-left: 1em;
  }